.label.important {
    background-color: #5daaf5;
}

.label.warning {
    background-color: #ba5566;
}

.label.success {
    background-color: #5faaf5;
}

.label.notice {
    background-color: #62cffc;
}

.white-caret {
  border-top-color: white !important;
  border-bottom-color: white !important;
}

a:hover span{
  text-decoration:underline;
}

input,textarea,select,.uneditable-input{width:500px;}

body {
  padding-top: 40px;
  padding-bottom: 40px; 
  background: #c7d1d8 !important;
  color: #2a3a48;
  font: 13px "Lucida Grande", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialised;
}

.navbar-inverse .collapse>.nav>li>a {
   color: #ffffff;
}

.transposeLinks>a {
   color: #ffffff;
   font-weight: bold;
}

.bold {
   font-weight: bold;
 }

.white-caret {
   border-top-color: white !important;
   border-bottom-color: white !important;
}

#logo {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 1px 1px 0 #000;
}

#logo span {
  color: #999;
  text-decoration: none;
}

/* Replace Inverse Button */
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

/** Dark Grey Button **/
.btn-darkest {
  color: #ffffff;
  background-color: #777777;
  border-color: #777777;
}
.btn-darkest:hover,
.btn-darkest:focus,
.btn-darkest:active,
.btn-darkest.active,
.open .dropdown-toggle.btn-darkest {
  color: #ffffff;
  background-color: #636363;
  border-color: #585858;
}
.btn-darkest:active,
.btn-darkest.active,
.open .dropdown-toggle.btn-darkest {
  background-image: none;
}
.btn-darkest.disabled,
.btn-darkest[disabled],
fieldset[disabled] .btn-darkest,
.btn-darkest.disabled:hover,
.btn-darkest[disabled]:hover,
fieldset[disabled] .btn-darkest:hover,
.btn-darkest.disabled:focus,
.btn-darkest[disabled]:focus,
fieldset[disabled] .btn-darkest:focus,
.btn-darkest.disabled:active,
.btn-darkest[disabled]:active,
fieldset[disabled] .btn-darkest:active,
.btn-darkest.disabled.active,
.btn-darkest[disabled].active,
fieldset[disabled] .btn-darkest.active {
  background-color: #777777;
  border-color: #777777;
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.readable {
  font-size: 18px;
}